a{
	text-decoration: none;
	color: unset;
}
a:hover{
	color: unset;
}
*{
	box-sizing: border-box;
}
body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
  background: #ecf0f1;
}
nav{
	transition: all 0.5s ease-out;
}
.container-fluid{
	width: 95%;
}
.navbar-brand{
	font-size: 2.5em;
	display: flex;
	align-items: center;
}
#logo_image{
	width: 60px;
	height: 60px;
	border-radius: 100px;
	margin-right: 20px;
}
.caption-xs{
	display: none;
}
.xs-btn{
	display: none;
}
.carousel-item{
	width: 100%;
	height: 100vh;
}
.carousel-caption{
	bottom: 60%;
}
.carousel-caption p{
	margin: auto 200px;
}
.carousel-caption h5{
	font-size: 3em;
}
.carousel-caption .btn{
	margin: 20px;
}
.nav-item{
	font-size: 1.2rem;
	margin:auto 20px;
	font-weight: 400;
}
.section-title{
	text-align: center;
	padding: 5px;
	margin: 20px 5% 40px 5%;
	border-bottom: 1px solid #303030;
}
.certi_row{
	justify-content: center;
}
.certi_card{
	width: 18rem;
}
.recomend-section .card{
	background-color: #F2F2F2;
	text-align: center;
	transition: 0.5s;
}
.rec_row .card:hover{
	background-color: rgba(0, 0, 0, 0.1);
	box-shadow: 1px 2px 10px grey;
}

.recomend-section, .certi-section{
	text-align: center;
}
.view_more{
	margin-top: 2%;
}
.recomend-section .card img, .certi-section .card img{
	width: 100%;
	height: 45%;
}
footer{
	padding: 20px 0px;
	margin-top: 2%;

}
.foot-col{
	justify-content: space-between;
	align-content: center;
	vertical-align: middle;
}
footer ul {
	list-style: none;
	margin:0;
	padding: 0;
}
.vl{
	border-right: 0.5px solid white;
	margin: 5px auto;
	height: 140px; 
}
.fsec span{
	font-size: 1.125em;
	font-weight: bolder;
}
.social-icon{
	width: 20px;
	height: 20px;
	margin-right: 20px;
}
.about-content{
	margin-top: 7%;
}
.about_sec{
	margin-bottom: 5%;
}

.rating{
	width: 20px;

}
.choice_main h1{
	text-align: center;
	text-transform: uppercase;
	margin: 2%;
}
.car, .bike{
	justify-content: space-between;
	height: 60vh;
	width:100%;
	transition: 0.25s;
	cursor: pointer;
}
.choice_main span{
	text-transform: uppercase;
	margin: auto;
	font-size: 5em;
}
.or span{
	font-size: 2em;
	padding: 20px;
}
.car:hover, .bike:hover{
	background-color: rgba(0, 0, 0, 0.25);
}
.dropdown_main .dropdown_col{
}
.center_for_comparebtn{
	text-align: center;
}
.error_content{
	height: 1rem;
}
@media (max-width: 1500px) and (min-width: 1199px) {
	.carousel-caption p{
	margin: 20px;
}
	.carousel-item{
	width: 100%;
	height: 70vh;
}
.carousel-caption{
	bottom: 50%;
}

	.certi_card{
	width: 18rem;
}
}
@media (max-width: 1200px) and (min-width: 992px) {
	.carousel-caption p{
	margin: 20px;
}
	.carousel-item{
	width: 100%;
	height: 60vh;
}
.carousel-caption{
	bottom: 40%;
}

.certi_card{
	width: 14rem;
}


.certi-section .card img{
	width: 100%;
	height: 200px;	
}
}
@media (max-width: 991px) and (min-width: 767px){
	.carousel-caption p{
	margin: 20px;
}
	.carousel-item{
	width: 100%;
	height: 70vh;
}
.carousel-caption{
	bottom: 25%;
}
	footer{
	padding: 10px;
	margin-top: 2%;
}
	.foot-col{
		
		flex-direction: column;
		
	}
	.vl{
	border-right: unset;
	border-bottom: 0.5px solid white;
	width: 100%;
	height: 1px;
	margin: 25px ;
}

.about_row{
	text-align: center;
}
.img-about img{
	margin-bottom: 40px;
	width: 200px;
	height: 200px;
}

}

@media (max-width: 768px) {
	.about_row{
	text-align: center;
}
.img-about img{
	margin-bottom: 40px;
	width: 200px;
	height: 200px;
}

	#logo_image{
		display: none;
	}
	#carouselExampleCaptions{
		display: none;
	}
	.bg-xs{
		text-align: center;
		position: relative;
		height: 250px;
		background-image: url(./images/car_cau1.jpg);
		background-size: contain;
	}
	.xs-btn{
		position: relative;
		top: 75px;
		display: block;
	}
	.caption-xs{
		display: block;
		color: white;
		font-size: 1.5em;
		padding: 20px; 
	}
	nav{
		background-color: black;
		position: unset;
	}
	nav .nav-brand span{
		font-size: 1em;
	}
	.choice{
		flex-direction: column;

	}
.certi-section .card img{
	width: 100%;
	height: 100px;	
}
.certi_card{
	width: unset;
}

footer{
	padding: 15px 5px;
	text-align: center;
}
	.foot-col{

		flex-direction: column;
	}
	.vl{
	border-right: unset;
	border-bottom: 0.5px solid white;
	width: 100%;
	height: 1px;
	margin: 25px 0;
}
.about_row{
	text-align: center;
}
.img-about img{
	margin-bottom: 5%;
	width: 200px;
	height: 200px;
}
	
}
